/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set body and html to 100% of the screen size */
body,
html {
  height: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* Set map to 100% of height/width of screen, and position absolute */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Styles to control layer groups */
.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  padding-left: .5em;
}

.leaflet-control-layers {
  max-height: 600px;
  overflow: auto;
}
/* End Styles to control layer groups */

table.popup td {
  width:8em;
  vertical-align: top;
  padding-top: 1.5em;
}

table.popup td.data {
  width:15em;
}