/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
}

h1 { padding-left: 10px; }
h4, p, ul li { padding-left: 1em;}
/* set body and html to 100% of the screen size */
body,
html {
  height: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* Set map to 100% of height/width of screen, and position absolute */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Styles to control layer groups */
.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}

.leaflet-control-layers-group {
  margin-bottom: 1.2em;
  border: 1px solid #aba7a7;
  padding: .7em .5em .7em 0;
  background-color: #d9effb;
}

.leaflet-control-layers-group-label span.key_container {
    padding: 5px 0 5px 0; 
    margin-left: 25px; 
    border: 1px solid gainsboro; 
    background-color: #ffffff;
}

.leaflet-control-layers-group-label span.key_container .label {
    padding-left: 11px; 
    font-weight: normal;
}

.leaflet-control-layers-group-label span.key_container .key {
    margin-left: 3px; 
    padding-left: 8px; 
    margin-right: 8px;
    border-radius: 9px;
}

.leaflet-control-layers-group label {
  padding-left: .5em;
  clear:both;
}

.leaflet-control-layers {
  max-height: 797px;
  overflow: auto;
}

.leaflet-control-layers-scrollbar {
  overflow-y: unset !important;
}
/* End Styles to control layer groups */

table.popup {
  min-width: 347px;
}

table.popup td {
  width:8em;
  vertical-align: top;
  padding: 1.5em 1em 0 0;
  font-size: 1.1em;
}

table.popup td.demographics {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 1em;
}

.leaflet-popup-content { font-size: 1.1em; }

table.popup td.data {
  width:15em;
}

.leaflet-bottom .leaflet-control {
  padding-bottom: 0 !important;
}

.leaflet-control-layers-expanded {
  padding-bottom: 0 !important;
}

.leaflet-control-layers-group span {
  font-size: .9em;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  background-color: skyblue;
}
